@media (min-width: 630px) {

.chooseArea{
    overflow: hidden;
    padding: 1vh;
    background-color: #343a40;
    font-size: 4vh;
    color: white;
    font-weight: bold;
    font-family: fantasy;
    border: 5px solid silver;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content:space-evenly ;
    padding: 15px;
    margin: 0;
  }
  
  .flex-container > div {
    max-width: 350px;
    width: 50vw;
    height: 30vh;
    margin: 2%;
    text-align: center;
    border-radius: 1vh;
    flex: 1 1 300px;
  }

  .cave{
    background-image: url('https://raw.githubusercontent.com/HoussamBenali/Assets/main/images/Fondos/Cave.jpg');
    background-size: 100% 83%;
  }
  .desert{
    background-image: url('https://raw.githubusercontent.com/HoussamBenali/Assets/main/images/Fondos/Desert.jpg');
    background-size: 100% 85%;
  }
  .sea{
    background-image: url('https://raw.githubusercontent.com/HoussamBenali/Assets/main/images/Fondos/Sea.jpg');
    background-size: 100% 85%;
  }
  .sewers{
    background-image: url('https://raw.githubusercontent.com/HoussamBenali/Assets/main/images/Fondos/Sewers.jpg');
    background-size: 100% 75%;
  }
  .grassland{
    background-image: url('https://raw.githubusercontent.com/HoussamBenali/Assets/main/images/Fondos/Grassland.jpg');
    background-size: 100% 85%;
  }
  .volcano{
    background-image: url('https://raw.githubusercontent.com/HoussamBenali/Assets/main/images/Fondos/Volcano.jpg');
    background-size: 100% 85%;
  }
  .forest{
    background-image: url('https://raw.githubusercontent.com/HoussamBenali/Assets/main/images/Fondos/Forest.jpg');
    background-size: 100% 85%;
  }
  .iceCave{
    background-image: url('https://raw.githubusercontent.com/HoussamBenali/Assets/main/images/Fondos/IceCave.jpg');
    background-size: 100% 85%;
    
  }

}