@media (min-width: 630px) {

.carta{
    min-width: 120px;
    width: 10vw;
    height: 175px;
    font-size: 40px;
    background: linear-gradient( to top left, rgb(77, 76, 76), white, rgb(90, 90, 90));
    background-size:300% 300%;
    margin: 0vw;
    border-radius: 5px;
    border: solid black 2px !important;
    animation: reflect 3s infinite linear;
}

@keyframes reflect {
    0% {
        background-position: 0% 50%;
    }
    100% {
        background-position: 100% 50% ;
    }
}
.card-img-top{
    /*border: black 1px solid;*/
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    margin-bottom: 5px;
    min-width: 100px;
    max-width:125px;
    width: 8vw; 
    height: 110px;
    /*background-color: white; */
}

.behind{
    min-width: 120px;
    max-width: 150px;
    width: 10vw;
    max-height: 205px;
    height: 175px;
}

.behind-card-name{
    padding-top: 0.5vh;
    padding-bottom: 0.5vh;
    margin: 0px;
    background-color: black;
    color: white;
    font-size: 30%;
}

.card:focus{
    border: solid 4px blue !important;
}


.card-name{
    
    margin: 0px;
    background-color: black;
    color: white;
    font-size: 30%;
}


.card-text{
    border-bottom: solid 2px black;
    font-size: 30%;
    text-decoration: none;
}

.card-attack{
    font-size: 30%;
}

.router{
    text-decoration: none !important;
    color: black !important;
    margin-top: 2vh;
}

.router:hover{
    text-decoration: none;
    padding: 0;
    background-color: blue;
}

.center{
    display: flex;
    align-items: center;
    justify-content: center;
}

.types-icon{
    max-width: 18px;
    margin-bottom: 0.1vh;
}

@font-face {
    font-family: PokemonSolid;
    src: url('../fonts/Pokemon Solid.ttf');
}

.welcome{
    font-family: "PokemonSolid";
    color: yellow;
    background-color: black;
    width: 100%;
    font-size: 30px;
    height: 65px;
    padding-top: 10px;
}

.centerWelcome{
    padding: 5vh;
}

 
.hp-bar-fill-opponent{
    position: absolute;
    height: 100%;
    border-radius: 20px;
  }

.hp-bar-fill-player{
    position: absolute;
    height: 100%;
    border-radius: 20px;
  }

.hp-bar{
    position: relative;
    height: 15px;
    width: 85%;
    border-radius: 20px;
    background: grey;
    opacity: 0.5;
    margin: 0;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
  }
  
.level{
    position: relative;
    opacity: 0.7;
    font-size: 16px;
    font-family: "Roboto Condensed";
    padding: 0;
    margin: 0;
  }
  
.player-level{
  
    position: relative;
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    opacity: 0.7;
    font-size: 16px;
    font-family: "Roboto Condensed";
  }
  
.hp{
    position: relative;
    display: block;
    text-align: center;
    opacity: 1;
    color: white;
    font-size: 13px;
    font-family: "Roboto Condensed";
  }
  


}