@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');

@import url('https://fonts.googleapis.com/css?family=PT+Sans+Narrow');

@media (min-width:630px){

  #battle {
    display: flex;
    justify-content: center;
    align-items: center;
    height: max-content;
    overflow:hidden;
  }
  
.battle-arena{
    position: relative;
    top:0;
    width: 80vw;
    height: 90vh;
    min-width: 650px;
    min-height: 405px;
    z-index: 0;
    margin-top: 5vh;  
    display: flex;
    flex-wrap: row wrap;

  }

  .tutorial-card-opponent{
    position: relative;
    top: 5vh;
    left: 65vw;
    flex: 1 100%;
    
  }

  .tutorial-card-player{
    position: relative;
    right: 10%;
    top: 47vh;

  }
  
.bottom-menu { 
    display: flex;
    flex-wrap: nowrap;
    position: relative;
    top: 57vh;
    right: 0;
    width: 250%;
    height: 33vh;
    z-index: 1;
    min-height: 150px;
    min-width: 400px;
    border: solid 6px #CEB46D;
    background: rgb(112, 112, 112);
 
}
.text-box-left {
    text-align: center;
    width: 45%;
    left: 0%;
    height: 95%;
 
}

.text-box-right {
    position: absolute;
    top: 0vh;
    right: 0;
    width: 50%;
    height: 100%;
    background: #F8F8F8;
    border: solid 6px silver; 
    align-items: center;
    flex-wrap: wrap !important;
    font-size: 4vh;
    padding-top: 2.5vh;
        
}

.battle-text {
    position: static;
    opacity: 0.95;
    font-size: 18px;
    color: white;
    text-align: left;
    margin-top: 5vh;
    margin-left: 2vw;
    font-family: "PT Sans Narrow";
   
}

/*Fight*/
.option-1 {
   
    position: sticky;
    opacity: 0.95;
    font-family: "PT Sans Narrow";
    cursor: pointer;
    font-size: 4vh;
    
}

.option-1:hover, .option-2:hover ,.option-3:hover,.option-4:hover{
  background-color: black;
  color: white;
}
/*Cards*/
.option-2 {
    position: sticky;
    opacity: 0.95;
    font-family: "PT Sans Narrow";
    cursor: pointer;
    font-size: 4vh;

}

/*Items*/
.option-3 {
  position: sticky;
    opacity: 0.95;
    font-family: "PT Sans Narrow";
    cursor: pointer;
    font-size: 4vh;

}
/*Run*/
.option-4 {
  position: sticky;
    opacity: 0.95;
    font-family: "PT Sans Narrow";
    cursor: pointer;
    font-size: 4vh;

}
 
.goback{
  position: absolute;
  padding: 10px;
  bottom: 0;
}

.back{
  width: 200px;
  padding: 5px;
  border-radius: 1vh;
}

.attackback{
  position: absolute;
  width: 10vw;
  max-width: 125px;
  border-radius: 1vh;
  bottom: 20px;
  left: 0;
  margin-left: 2vw;


}

.deck{
  display: flex !important;
  flex-wrap: wrap !important;
  background-color: tomato !important;
  min-width: 500px !important;
  width: 35vw !important;

}


.squad{
  display: flex;
  width: 50%;
  max-width: 50%;
  max-height: 175px;
  height: 35vh;
  justify-content: center;
  align-items: center !important ;
 
  

}
.change-poke-text {
  position: relative;
  top:20px;
  color: #000;
  width: 85%;
  max-height: 30px;
  background-color: lightgray;
  border: solid black 2px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}



}
  